// *************** Colors ************
// Basics
$basic-primary-voxblue: #106FF9;
$basic-red: #DA3A3A;
$basic-candy: #FF5A5A;
$basic-amber: #FF9800;
$basic-green: #34836F;
$basic-blue-gray: #5A7793;

// Texts
$text-primary-voxblue-ondark: #1683FB;
$text-primary: #272C39;
$text-secondary: #5E6670;
$text-tretiary: #6B7885;
$text-placeholder: #99A6B5;
$text-white-primary: #FFF;
$text-white-secondary: #C7D0D8;

// Background
$bg-black: #000;
$bg-dark: #39414D;
$bg-light: #F1F4F9;
$bg-lightest: #F7F8FA;
$bg-white: #FFF;

// Shades
$slb-shades-grey-1: #272C39;
$slb-shades-grey-2: #2D3443;
$slb-shades-grey-3: #39414D;
$slb-shades-grey-4: #414954;
$slb-shades-grey-5: #5E6670;
$slb-shades-grey-6: #6B7885;
$slb-shades-grey-7: #99A6B5;
$slb-shades-grey-8: #C7D0D8;
$slb-shades-grey-9: #E8ECF2;
$slb-shades-grey-10: #F1F4F9;

// Data
$data-gren: #24A159;
$data-luis-green: #0EC29A;
$data-luis-plan-header: #D9E7FB;

// Disabled
$disabled: #C5D0D9;
$disabled-light: #F1F4F9;

$comp-border: #C7D0D8;

// Icons
$icon-white: #5E6670;
$icon-white-light: #C7D0D8;
$icon-dark: #99A6B5;

$transpatent: #000000FF;